---
layout: page
title: Post Overview
permalink: /overview/
sitemap: false
---

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Post Status</th>
        <th>LinkedIn Prep</th>
        <th>Medium Prep</th>
        <th>Writer Pipeline</th>
      </tr>
    </thead>
    <tbody>
{% for post in site.posts %}
{% assign linkedins = site.linkedin | where_exp: "item", "item.linked_posts contains post.url" %}
{% assign mediums = site.medium | where_exp: "item", "item.linked_posts contains post.url" %}
{% assign linkedin_count = linkedins | size %}
{% assign medium_count = mediums | size %}
{% if linkedin_count > 0 %}{% assign li_status = "Ready" %}{% else %}{% assign li_status = "Pending" %}{% endif %}
{% if medium_count > 0 %}{% assign md_status = "Ready" %}{% else %}{% assign md_status = "Pending" %}{% endif %}
{% if linkedin_count > 0 and medium_count > 0 %}{% assign writer_status = "Done" %}{% else %}{% assign writer_status = "Pending" %}{% endif %}
      <tr>
        <td>{{ post.date | date: "%Y-%m-%d" }}</td>
        <td><a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
        <td>{% if post.date > site.time %}Draft{% else %}Published{% endif %}</td>
        <td>{{ li_status }}</td>
        <td>{{ md_status }}</td>
        <td>{{ writer_status }}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>
</div>
