---
layout: default
---

{% include lang.html %}

{% assign all_pinned = site.posts | where_exp: 'item', 'item.pin == true and item.date <= site.time' %}
{% assign all_normal = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true and item.date <= site.time' %}
{% assign all_published = all_pinned | concat: all_normal %}

{% assign posts = '' | split: '' %}
{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% for item in all_published offset: offset limit: paginator.per_page %}
  {% assign posts = posts | push: item %}
{% endfor %}

 
 {% for post in posts %}
 
 
 {% assign card_body_col = '12' %}

 {% if post.image %}
 {% assign src = post.image.path | default: post.image %}

 {% if post.media_subpath %}
 {% unless src contains '://' %}
 {% assign src = post.media_subpath
 | append: '/'
 | append: src
 | replace: '///', '/'
 | replace: '//', '/'
 %}
 {% endunless %}
 {% endif %}

 {% if post.image.lqip %}
 {% assign lqip = post.image.lqip %}

 {% if post.media_subpath %}
 {% unless lqip contains 'data:' %}
 {% assign lqip = post.media_subpath
 | append: '/'
 | append: lqip
 | replace: '///', '/'
 | replace: '//', '/'
 %}
 {% endunless %}
 {% endif %}

 {% assign lqip_attr = 'lqip="' | append: lqip | append: '"' %}
 {% endif %}

 {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}

 
 
 

 {% assign card_body_col = '7' %}
 {% endif %}

 
 
 {{ post.title }} 

 
 {% include post-summary.html %} 
 

 
 
 
 
 {% include datetime.html date=post.date lang=lang %}

 
 {% if post.categories.size > 0 %}
 
 
 {% for category in post.categories %}
 {{ category }}
 {%- unless forloop.last -%},{%- endunless -%}
 {% endfor %}
 
 {% endif %}
 

 {% if post.pin %}
 
 
 {{ site.data.locales[lang].post.pin_prompt }} 
 
 {% endif %}
 
 
 
 
 
 
 
 {% endfor %}
 
 

{% if paginator.total_pages > 1 %}
 {% include post-paginator.html %}
{% endif %}
