---
layout: default
---

{% include lang.html %}

{% assign all_pinned = site.posts | where_exp: 'item', 'item.pin == true and item.date <= site.time' %}
{% assign all_normal = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true and item.date <= site.time' %}

{% assign posts = '' | split: '' %}

 

{% assign visible_start = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign visible_end = visible_start | plus: paginator.per_page %}

{% if all_pinned.size > visible_start %}
 {% if all_pinned.size > visible_end %}
 {% assign pinned_size = paginator.per_page %}
 {% else %}
 {% assign pinned_size = all_pinned.size | minus: visible_start %}
 {% endif %}

 {% for i in (visible_start..all_pinned.size) limit: pinned_size %}
 {% assign posts = posts | push: all_pinned[i] %}
 {% endfor %}
{% else %}
 {% assign pinned_size = 0 %}
{% endif %}

 

{% assign normal_size = paginator.posts | size | minus: pinned_size %}

{% if normal_size > 0 %}
 {% if pinned_size > 0 %}
 {% assign normal_start = 0 %}
 {% else %}
 {% assign normal_start = visible_start | minus: all_pinned.size %}
 {% endif %}

 {% assign normal_end = normal_start | plus: normal_size | minus: 1 %}

 {% for i in (normal_start..normal_end) %}
 {% assign posts = posts | push: all_normal[i] %}
 {% endfor %}
{% endif %}

 
 {% for post in posts %}
 
 
 {% assign card_body_col = '12' %}

 {% if post.image %}
 {% assign src = post.image.path | default: post.image %}

 {% if post.media_subpath %}
 {% unless src contains '://' %}
 {% assign src = post.media_subpath
 | append: '/'
 | append: src
 | replace: '///', '/'
 | replace: '//', '/'
 %}
 {% endunless %}
 {% endif %}

 {% if post.image.lqip %}
 {% assign lqip = post.image.lqip %}

 {% if post.media_subpath %}
 {% unless lqip contains 'data:' %}
 {% assign lqip = post.media_subpath
 | append: '/'
 | append: lqip
 | replace: '///', '/'
 | replace: '//', '/'
 %}
 {% endunless %}
 {% endif %}

 {% assign lqip_attr = 'lqip="' | append: lqip | append: '"' %}
 {% endif %}

 {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}

 
 
 

 {% assign card_body_col = '7' %}
 {% endif %}

 
 
 {{ post.title }} 

 
 {% include post-summary.html %} 
 

 
 
 
 
 {% include datetime.html date=post.date lang=lang %}

 
 {% if post.categories.size > 0 %}
 
 
 {% for category in post.categories %}
 {{ category }}
 {%- unless forloop.last -%},{%- endunless -%}
 {% endfor %}
 
 {% endif %}
 

 {% if post.pin %}
 
 
 {{ site.data.locales[lang].post.pin_prompt }} 
 
 {% endif %}
 
 
 
 
 
 
 
 {% endfor %}
 
 

{% if paginator.total_pages > 1 %}
 {% include post-paginator.html %}
{% endif %}
